/.vscode
/.idea
/build
/BodyDrive/.vscode
/BodyDrive/.idea
/BodyDrive/build
/BodyReceiver/.vscode
/BodyReceiver/.idea
/BodyReceiver/build
/Dome/.vscode
/Dome/.idea
/Dome/build
/IMU/.vscode
/IMU/.idea
/IMU/build
/Remote/.vscode
/Remote/.idea
/Remote/build